@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Montserrat:wght@100;300&family=Nunito:wght@300&family=Poppins:wght@100;300;500;700;900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  font-family: poppins;
}

body {
  margin: 0 auto; /*se centra si sobrepasa el ancho minimo*/
  display: flex;
  flex-direction: column;
  min-width: 390px; /*para movil*/
  max-width: 1000px;
}

.header {
  border-bottom: 1px solid #bca4ff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}
.header .header__h1 {
  visibility: hidden;
  font-size: 0;
}

.main__sectionfind {
  padding: 1rem;
  padding-block: 2rem;
  border-bottom: 1px solid #d9dbe9;
}

.main__h2find {
  color: #000000;
  font-weight: 700;
}

.main__divfind {
  display: flex;
  flex-direction: column;
}

.main__formfind {
  display: flex;
  flex-direction: column;
}
.main__formfind .main__selectfind {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: #f7f7fc;
  color: #14142b;
  font-size: 1rem;
  font-family: poppins;
}
.main__formfind .main__buttonfind {
  background-color: #ed2e7e;
  padding: 1rem;
  text-align: center;
  border-radius: 100px;
  color: #ffffff;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

.main__sectionsearch {
  padding: 1rem;
  padding-block: 2rem;
  border-bottom: 1px solid #d9dbe9;
}
.main__sectionsearch .divsearch {
  background-color: #2a00a2;
  border-radius: 20px;
  padding: 2rem;
  padding-top: 1rem;
}

.main__h2search {
  color: #bca4ff;
  font-weight: 500;
}

.main__psearch {
  color: white;
  font-size: 100;
}

.main__sectionsearch {
  border: 0;
}

.main__formsearch {
  display: flex;
  flex-direction: column;
}
.main__formsearch .main__selectsearch {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: #f7f7fc;
  color: #14142b;
  font-family: poppins;
}
.main__formsearch .main__selectsearch {
  font-size: 1rem;
}
.main__formsearch .main__buttonfind {
  background-color: #ed2e7e;
  padding: 1rem;
  text-align: center;
  border-radius: 100px;
  color: #ffffff;
}

.main__sectionlast {
  padding: 1rem;
}

.main__divgreen {
  background-color: #f2fffb;
  border: 1px solid #00ba88;
  border-radius: 20px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  justify-items: center;
  margin-bottom: 1.5rem;
}
.main__divgreen .main__pgreen {
  margin: 0;
  padding: 0 10px;
}
.main__divgreen .main__cross {
  align-self: center;
}

.main__divred {
  background-color: #fff3f8;
  border: 1px solid #ed2e7e;
  border-radius: 20px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  justify-items: center;
  margin-bottom: 1.5rem;
}
.main__divred .main__pred {
  margin: 0;
  padding: 0 10px;
}
.main__divred .main__cross {
  align-self: center;
}

.main__imgbackground {
  width: 100%;
  aspect-ratio: 1;
}

.main__divneed {
  background-image: url(../assets/background.png);
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  border-radius: 20px;
}
.main__divneed .main__pneed {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}
.main__divneed .main__buttonneed {
  border: 1px solid #ffffff;
  border-radius: 100px;
  color: #ffffff;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
}

.footer {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
}
.footer .footer__img {
  padding-bottom: 1rem;
}
.footer .footer__pdark {
  text-align: center;
  color: #4e4b66;
  padding-inline: 2rem;
}
.footer .footer__plight {
  text-align: center;
  color: #6e7191;
  padding-inline: 3rem;
}
.footer .footer__h2 {
  font-size: 1.3rem;
  padding-top: 1rem;
}
.footer .footer__mail {
  color: #5f2eea;
}

.main__sectionhotel {
  padding-left: 1rem;
}
.main__sectionhotel .main__divhotel {
  margin-top: 2.5rem;
  display: flex;
  width: 80%;
  overflow-x: scroll;
}
.main__sectionhotel .main__imghotel {
  display: flex;
  padding-right: 20px;
}
.main__sectionhotel .main__h2hotel {
  font-weight: 500;
}
.main__sectionhotel .main__stars {
  padding-top: 1.2rem;
}
.main__sectionhotel .main__imgstars {
  padding-left: 0.15rem;
}
.main__sectionhotel .main__h3hotel {
  color: #5f2eea;
  font-weight: 500;
  margin: 0px;
  margin-top: 0.8rem;
}
.main__sectionhotel .main__h4hotel {
  color: #5f2eea;
  font-weight: 500;
  margin: 0px;
  margin-top: 0.3rem;
}
.main__sectionhotel .main__imglocation {
  margin-right: 0.3rem;
  height: 1.2rem;
}
.main__sectionhotel .main__photel {
  color: #4e4b66;
  font-weight: 300;
  font-size: 0.95rem;
  margin: 0px;
  margin-bottom: 1.5rem;
}
.main__sectionhotel .main__buttonhotel {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border: 1.5px solid #d9dbe9;
  border-radius: 100px;
  color: #5f2eea;
  font-size: 0.85rem;
}
.main__sectionhotel .main__bigline {
  border-bottom: 0.5px solid #d9dbe9;
  padding-bottom: 0.5rem;
  margin-top: 2.5rem;
}
.main__sectionhotel .main__lines {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__sectionhotel .main__smallline {
  width: rem;
  border-bottom: 1.5px solid #d9dbe9;
  padding-bottom: 4rem;
}
.main__sectionhotel .main__circlerow {
  padding-top: 3rem;
}

/* .header__menu {
    background-color: variables.$container-color;
    padding-top: 2rem;
    padding-right: 6rem;
    padding-bottom: 10rem;
    font-size: 0.8rem;
    .header__divmenu {
        padding-left: 1.5rem;
        padding-bottom: 1.5rem;
        display: flex;
        justify-content: space-between;
    }
    .header__menulogo {
        width: 5.5rem;
    }
    .header__closeicon {
        width: 0.7rem;
    }
    .header__listmenu {
        padding-left: 3rem;
    }
    .header__sectionmenu {
        list-style: none;
        color: variables.$general-light-color;
        padding-bottom: 1.2rem;
        font-weight: 700;
    }
    .header__subsectionmenu {
        list-style: none;
        color: variables.$general-light-color;
        padding-bottom: 1rem;
        font-weight: 500;
        font-size: 0.7rem;
    }
    .header__row {
        height: 0.5rem;
    }
} */

/*# sourceMappingURL=style.css.map */
