$primary-color: #5f2eea;
$header-color: #bca4ff;
$general-dark-color: #000000;
$general-light-color: #ffffff;
$second-black: #14142b;
$form-botton-color: #ed2e7e;
$linea-color: #d9dbe9;
$container-color: #2a00a2;
$green-box-border: #00ba88;
$green-box: #f2fffb;
$red-box: #fff3f8;
$footer-dark: #4e4b66;
$footer-light: #6e7191;
$background-form-find: #f7f7fc;
