@use "variables";
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Montserrat:wght@100;300&family=Nunito:wght@300&family=Poppins:wght@300;500;700;900&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    font-family: poppins;
}

body {
    margin: 0 auto; /*se centra si sobrepasa el ancho minimo*/
    display: flex;
    flex-direction: column;
    min-width: 390px; /*para movil*/
    max-width: 1000px;
}

header {
    .header__h1 {
        color: variables.$primary-color;
        font-weight: 700;
    }
    border-bottom: 1px solid variables.$header-color;
    padding: 1rem;
}

.main__sectionfind {
    padding: 1rem;
    padding-block: 2rem;
    border-bottom: 1px solid variables.$linea-color;
}

.main__h2find {
    color: variables.$general-dark-color;
    font-weight: 700;
}

.main__divfind {
    display: flex;
    flex-direction: column;
}

.main__formfind {
    display: flex;
    flex-direction: column;
    .main__selectfind {
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 10px;
        background-color: variables.$background-form-find;
        color: variables.$second-black;
    }
    .main__buttonfind {
        background-color: variables.$form-botton-color;
        padding: 1rem;
        text-align: center;
        border-radius: 100px;
        color: variables.$general-light-color;
    }
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

.main__sectionsearch {
    padding: 1rem;
    padding-block: 2rem;
    border-bottom: 1px solid variables.$linea-color;
    .divsearch {
        background-color: variables.$container-color;
        color: variables.$general-light-color;
        border-radius: 20px;
        padding: 2rem;
    }
}
