@use "variables";
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Montserrat:wght@100;300&family=Nunito:wght@300&family=Poppins:wght@100;300;500;700;900&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    font-family: poppins;
}

body {
    margin: 0 auto; /*se centra si sobrepasa el ancho minimo*/
    display: flex;
    flex-direction: column;
    min-width: 481px; /*para movil*/ /**/
}

.header {
    .header__h1 {
        visibility: hidden;
        font-size: 0;
    }
    border-bottom: 1px solid variables.$header-color;
    padding: 0 2.5rem;
    padding-block: 2rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: variables.$general-light-color;
}

.main__sectionfind {
    padding: 2rem;
    border-bottom: 1px solid variables.$linea-color;
}

.main__h2find {
    color: variables.$general-dark-color;
    font-weight: 700;
}

.main__divfind {
    display: flex;
    flex-direction: column;
}

.main__formfind {
    display: flex;
    flex-direction: column;
    .main__selectfind {
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 10px;
        background-color: variables.$background-form-find;
        color: variables.$second-black;
        font-size: 1rem;
        font-family: poppins;
    }
    .main__buttonfind {
        background-color: variables.$form-botton-color;
        padding: 1rem;
        text-align: center;
        border-radius: 100px;
        color: variables.$general-light-color;
    }
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

.main__sectionsearch {
    padding: 2rem;
    padding-block: 2rem;
    border-bottom: 1px solid variables.$linea-color;
    border: 0;
    .divsearch {
        background-color: variables.$container-color;
        border-radius: 20px;
        padding: 2rem;
        padding-top: 1rem;
    }
}

.main__psearch {
    color: white;
    font-size: 100;
}

.main__h2search {
    color: variables.$header-color;
    font-weight: 500;
}

.main__formsearch {
    display: flex;
    flex-direction: column;
    .main__selectsearch {
        border: 0;
        padding: 1rem;
        margin-bottom: 0;
        border-radius: 10px;
        background-color: variables.$background-form-find;
        color: variables.$second-black;
        font-family: poppins;
        font-size: 1rem;
    }

    .main__buttonfind {
        background-color: variables.$form-botton-color;
        padding: 1rem;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        text-align: center;
        border-radius: 100px;
        color: variables.$general-light-color;
    }
}

.main__sectionlast {
    padding: 2rem;
}
.main__divgreen {
    background-color: variables.$green-box;
    border: 2px solid variables.$green-box-border;
    border-radius: 20px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    justify-items: center;
    .main__pgreen {
        font-size: 0.9rem;
        color: variables.$green-box-border;
        margin: 0;
        padding: 0 10px;
    }
    .main__cross {
        align-self: center;
    }
    .main__like {
        padding-top: 0.4rem;
    }
    margin-bottom: 1.5rem;
}

.main__divred {
    background-color: variables.$red-box;
    border: 2px solid variables.$form-botton-color;
    border-radius: 20px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    justify-items: center;
    .main__pred {
        font-size: 0.83rem;
        color: variables.$red-p-box;
        margin: 0;
        padding: 0 10px;
    }
    .main__cross {
        align-self: center;
    }
    .main__alert-info {
        padding-top: 0.4rem;
    }
    margin-bottom: 1.5rem;
}
.main__imgbackground {
    width: 100%;
    aspect-ratio: 1;
}

.main__divneed {
    background-image: url(../assets/background.png);
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border-radius: 20px;
    .main__pneed {
        line-height: 3.1rem;
        color: variables.$general-light-color;
        font-size: 3rem;
        font-weight: 700;
        margin: 0;
    }
    .main__buttonneed {
        border: 1px solid variables.$general-light-color;
        border-radius: 100px;
        color: variables.$general-light-color;
        width: 100%;
        padding: 1rem;
        margin-top: 1rem;
    }
}

.footer {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
    .footer__img {
        padding-bottom: 1rem;
    }
    .footer__pdark {
        text-align: center;
        color: variables.$footer-dark;
        padding-inline: 2rem;
    }
    .footer__plight {
        text-align: center;
        color: variables.$footer-light;
        padding-inline: 3rem;
    }
    .footer__h2 {
        font-size: 1.3rem;
        padding-top: 1rem;
    }
    .footer__mail {
        color: variables.$primary-color;
    }
}

.main__sectionhotel {
    padding-left: 2rem;

    .main__divhotel {
        margin-top: 2rem;
        display: flex;
        width: 100%;
        overflow-x: scroll;
    }
    .main__imghotel {
        display: flex;
        padding-right: 20px;
    }

    .main__h2hotel {
        font-weight: 500;
        font-size: 1.65rem;
    }

    .main__stars {
        padding-top: 1.2rem;
    }
    .main__imgstars {
        padding-left: 0.15rem;
    }

    .main__h3hotel {
        color: variables.$primary-color;
        font-size: 1.6rem;
        font-weight: 500;
        margin: 0px;
        margin-top: 0.8rem;
    }

    .main__h3hotel {
        color: variables.$primary-color;
        font-weight: 500;
        margin: 0px;
        margin-top: 0.8rem;
    }

    .main__h4hotel {
        font-size: 1.3rem;
        color: variables.$primary-color;
        font-weight: 500;
        margin: 0px;
        margin-top: 0.3rem;
    }
    .main__imglocation {
        margin-right: 0.3rem;
        height: 1.2rem;
    }
    .main__photel {
        color: variables.$footer-dark;
        font-weight: 300;
        font-size: 1.15rem;
        margin: 0px;
    }
    .main__buttonhotel {
        padding-inline: 1.5rem;
        padding-block: 0.5rem;
        border: 1.5px solid variables.$linea-color;
        border-radius: 100px;
        color: variables.$primary-color;
        font-size: 0.9rem;
    }

    .main__p2hotel {
        color: variables.$footer-dark;
        font-weight: 300;
        font-size: 1.15rem;
        margin: 0px;
        padding-bottom: 1.5rem;
    }

    .main__bigline {
        border-bottom: 0.5px solid variables.$linea-color;
        padding-bottom: 0.5rem;
        margin-top: 2rem;
    }

    .main__lines {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main__smallline {
        width: 9.5rem;
        border-bottom: 1.5px solid variables.$linea-color;
        padding-bottom: 3rem;
    }

    .main__circlerow {
        padding-top: 3rem;
    }
}

@media screen and (min-width: 1440px) {
    .header {
        padding-inline-start: 10%;
        padding-inline-end: 3%;
        padding-block: 3%;
    }
    .main__sectionfind {
        padding-inline: 8%;
    }
    .main__h2find {
        font-size: 2rem;
    }
    .main__formfind {
        display: flex;
        flex-direction: row;
    }
    .main__selectfind {
        width: 20%;
        margin-right: 0.5rem;
    }
    select:nth-last-of-type(3) {
        width: 37%;
        margin-right: 0.8rem;
    }
    .main__buttonfind {
        width: 20%;
        height: 85%;
        margin-left: 1rem;
    }
    .main__sectionlast {
        padding-inline: 10%;
    }
    .main__divgreen {
        display: grid;
        grid-template-columns: 5% 50% 45%;
    }
    .main__pgreen {
        justify-self: left;
    }
    .main__divred {
        display: grid;
        grid-template-columns: 5% 70% 25%;
    }
    .main__cross {
        justify-self: right;
    }
    .main__pred {
        justify-self: left;
    }
    .main__divneed {
        width: 100%;
        height: 450px;
        border-radius: 30px;
        padding-inline: 25%;
        .main__buttonneed {
            margin-top: 2rem;
            width: 40%;
        }
    }
}

/*prueba*/
/*prueba*/

/* .header__menu {
    background-color: variables.$container-color;
    padding-top: 2rem;
    padding-right: 6rem;
    padding-bottom: 10rem;
    font-size: 0.8rem;

    .header__divmenu {
        padding-left: 1.5rem;
        padding-bottom: 1.5rem;
        display: flex;
        justify-content: space-between;
    }

    .header__menulogo {
        width: 5.5rem;
    }

    .header__closeicon {
        width: 0.7rem;
    }

    .header__listmenu {
        padding-left: 3rem;
    }

    .header__sectionmenu {
        list-style: none;
        color: variables.$general-light-color;
        padding-bottom: 1.2rem;
        font-weight: 700;
    }

    .header__subsectionmenu {
        list-style: none;
        color: variables.$general-light-color;
        padding-bottom: 1rem;
        font-weight: 500;
        font-size: 0.7rem;
    }

    .header__row {
        height: 0.5rem;
    }
} */
